.CommandBox/

.bash_history
.bash_logout

.cache/
.cargo/
.cfg/

.docker/
.dotnet/

.java/

.lesshst
.local/

.npm/

.rustup/

.sudo_as_admin_successful

.tmux/

.vim/backupdir/
.vim/undodir/
.vim/plugged/

.vscode-server/
.vscode-remote-containers/
