[user]
	email = sheenjustin@gmail.com
	name = Sheen Justin
[core]
	editor = nvim
	autocrlf = false
	preloadIndex = true
[merge]
	tool = nvim
[mergetool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = nvim
[difftool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	nb = checkout -b
	p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	last = log -1 HEAD
	cm = commit -m
	cma = commit -a -m
	rb = rebase --interactive origin/staging
	dev = checkout development
	staging = checkout staging
	q = checkout quantico
	lg = log --graph --pretty=format:'%Cred%h %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[help]
	autocorrect = 1
[fetch]
	prune = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
[merge]
	conflictStyle = zdiff3
[diff]
    colorMoved = default
