[user]
	email = sheen@sheenjustin.com
	name = Sheen Justin
[core]
	editor = code --wait
	autocrlf = false
	preloadIndex = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	nb = checkout -b
	p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	last = log -1 HEAD
	cm = commit -m
	cma = commit -a -m
	rb = rebase --interactive origin/staging
	dev = checkout development
	lg = log --graph --pretty=format:'%Cred%h %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[pull]
	rebase = true
[help]
	autocorrect = 1
[fetch]
	prune = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
