[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/zsh/.antidote"]
	path = .config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
	shallow = true
	depth = 1
